body{
	background-color: silver;
}
.sort-box{
	width: 500px;
	height: 580px;
	margin: 0 auto;
	display: flex;
	background-color: #fff;
	flex-direction: column;
}
.sort-box > canvas{
	flex: 1;
}
.filter{
	height: 80px;
}